/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #151515
  background-image: url("./image-assets/cavesbelowbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Title {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.almendra-bold {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}

.keys {
  display: flex;
  align-items: center;
}

.keys img {
  width: 30px;
  margin-right: 5px; 
}
